@import url(https://fonts.googleapis.com/css?family=Roboto:300);

.newPassword {
    width: 300px;
}

.changeb, .logoutb {
    width: 200px;
}

button:hover, button:active, button:focus {
    background: #43A047;
}

.container {
    padding: 0 150px;
}

.appr {
    margin-bottom: 250px;
}